{% extends "djangolab/base.html" %}

{% block title %}
    <title>Polls App</title>
{% endblock title %}

{% block content %}

    <div class="container mt-3">
        <h1>POLLING <span class="badge bg-primary">APP</span></h1>

        {% if data %}

            {% for info in data %}

                <div class="card mt-3" style="width: 100%;">
                    <div class="card-body">
                    <h5 class="card-title">{{ info.question_text }}</h5>
                    <p class="card-text">{{ info.pub_date }}</p>
                    <a href="/{{ info.id }}/" class="btn btn-primary">View Options</a>
                    </div>
                </div>

            {% endfor %}

        {% endif %}

    </div>

{% endblock content %}