{% extends "djangolab/base.html" %}

{% block title %}
    <title>Thank You</title>
{% endblock title %}

{% block content %}
    <div class="mt-3">
        <div class="jumbotron text-center">
            <h1 >Thank <span class="badge bg-primary">You!</span></h1>
            <p class="lead"><strong>Your response has been submitted,</strong> thank you for your precious time.</p>
            <hr>
            <p>
            Having trouble? <a href="#">Contact us</a>
            </p>
            <p class="lead">
            <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
            </p>
        </div>
    </div>
{% endblock content %}
